body {
    background-image: url(https://png.pngtree.com/background/20230516/original/pngtree-dark-gym-where-you-can-take-in-the-surrounding-light-picture-image_2611114.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid gray;
    width: 500px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 245px;
    background-color: wheat;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 15px;
}

input:focus {
    background-color: rgba(72, 228, 255, 0.822);
}

.regisbutt {
    background-color: cornflowerblue;
    color: white;
    padding: 5px 200px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin: 4px 2px;
    border-radius: 4px;
    border: 1px solid black;
    transition-duration: 0.1s;
    cursor: pointer;
}

.regisbutt:hover {
    background-color: white;
    color: black;
    padding: 5px 200px;
    text-decoration: underline;
    font-size: 15px;
    margin: 4px 2px;
    border-radius: 4px;
    border: 1px solid cornflowerblue;
}

.button {
    background-color: red;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin: 4px 2px;
    border-radius: 4px;
    border: 1px solid black;
    transition-duration: 0.1s;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    border:1px solid red;
    color: black;
    padding: 5px 12px;
    text-decoration: underline;
}