{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nearby Fitness</title>
    <link rel="stylesheet" type="text/css" href="{% static 'health/styles.css' %}">
</head>
<body>

<!-- Use CSS for styling and organization -->
<div style="text-align: left;">
    <!-- Add a title for better accessibility -->
    <h1>Nearby Fitness</h1>

    <!-- Use an iframe to embed an external HTML page -->
    <iframe src=https://maps.me/catalog/recreation/leisure-fitness_centre/country-praethsaithy/city-krungethphmhaankhr-1628207792/ height="1200" width="800" frameborder="0" scrolling="auto"></iframe>
</div>

</body>
</html>
