{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Health Note</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'health/styles_index.css' %}">
    </head>
    <body>
        <div class="main-menu">
            <h1> Welcome to Health Note</h1>
            {% if user.is_authenticated %} <!--ถ้า login สำเร็จ ให้โชว์อันนี้-->
            <h2>Hello, {{name}} </h2>
            <a href="/profile" class="button"> Profile</a>
            <a href="/fitness" class="button"> Nearby Fitness</a>
            <br /><br />
            <a href="/logout" class="logout-butt"> Logout</a>

            {% else %} <!--ถ้ายังไม่ได้ login ให้โชว์อันนี้-->
            <h2>Please Login</h2>
            <a href="/login" class="button"> Login</a>
            <h3>Don't have an account?</h3>
            <a href="/register_" class="button"> Register</a>
            {% endif %}
        </div>

        <script src="" async defer></script>
    </body>
</html>
