<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="{% static 'health/styles.css' %}">
</head>
<body>
    <h1>Profile</h1>
    {% if user.is_authenticated %} <!--ถ้า login สำเร็จ ให้โชว์อันนี้-->
    <form action="/profile" method="POST">
        {% csrf_token %}
    {% comment %} หน้าสำหรับ Profile {% endcomment %}
        <label for="">Height/CM.</label>
        <input type="number" step="0.01" name="height" class="height" required>
<br><br>
        <label for="">Weight/Kg.</label>
        <input type="number" step="0.01" name="weight" class="weight" required>
    <button type="submit">Calculate</button>
    </form>
    <h3>BMI : {{bmi}}</h3>
    <h3>สุขภาพ : {{heal}}</h3>

    <form action="/back">
        <button type="submit">Back</button>
    </form>

        {% else %} <!--ถ้ายังไม่ได้ login ให้โชว์อันนี้-->
        Why Are you Here?
        {% endif %}
    
</body>
</html>