{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Running</title>
    <link rel="stylesheet" type="text/css" href="{% static 'health/styles.css' %}">
</head>
<body>
    <h1>Workout</h1>
    {% if user.is_authenticated %}
        {% if check == False %}
        <form action="/workoutplan" method="POST">
            {% csrf_token %} <!--ปุ่มหยุด-->
            <button name="check" type="submit" value=True>Stop</button>
        </form>
        {% elif check == False %} <!--ปุ่มเริ่มเมื่อมีค่าอยู่ในระบบอยู่เเล้วหรือด้วยเหตุใด้ก็ตามที่ค่ามันยังค้างอยู่-->
        <form action="/workoutplan" method="POST">
            {% csrf_token %}
            <button name="check" type="submit" value=False>Start</button>
        </form>
        {% else %} <!--เมื่อกดเข้าหน้านนี้ครั้งเเรจะไม่มีค่าอยู่ด้านในจึงต้องโชว?อันนี้ก่อน-->
        <form action="/workoutplan" method="POST">
            {% csrf_token %}
            <button name="check" type="submit" value=False>Start</button>
        </form>
        {% endif %}
<br>
        <a href="/result" class="button"> result</a>
        <br>
        
        <form action="/back">
            <button type="submit">Back</button>
        </form>

    {% else %} <!--ถ้ายังไม่ได้ login ให้โชว์อันนี้-->
        Why Are you Here?
    {% endif %}
</body>
</html>
